@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --f-family: 'Poppins', sans-serif;
  --f-size: 16px;

  --c-primary: #0d6efd;
  --c-primary-light: #3d8bfb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--f-family);
  font-size: var(--f-size);
}

html,
body {
  height: 100%;
  display: grid;
  place-items: center;
}

main {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 768px) {
  main {
    max-width: 80vw;
    align-items: center;
  }
}

[data-result]:empty {
  display: none;
}

canvas {
  border: 2px solid transparent;
  border-left-color: #000;
  border-bottom-color: #000;
  background: url('./grid.svg');
}

main > div {
  display: flex;
  gap: 10px;
}

input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  border: none;
  outline: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--c-primary);
  cursor: pointer;
}

button:hover {
  background-color: var(--c-primary-light);
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
