@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --f-family: 'Poppins', sans-serif;
  --f-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--f-family);
  font-size: var(--f-size);
}
